* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Tera", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: calc(3rem + 1vw);
}

h2 {
  font-size: calc(2rem + 1vw);
}

a,
p {
  font-size: calc(1.5rem + 0.5vw);
}

p {
  margin: 5rem 0;
}

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

nav ul a {
  color: white;
  text-decoration: none;
  margin: 0 calc(0.5rem + 2vw);
  position: relative;
}

nav ul li {
  padding-bottom: 0.5rem;
}

nav ul li:hover + span {
  width: 100%;
}

nav ul span {
  padding: 0.15rem 0;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero {
  height: 100vh;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  padding-bottom: 5rem;
}

#news {
  min-height: 100vh;
  background: #131313;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  overflow-x: hidden;
}

#news .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 2rem;
}

#news .text p {
  color: white;
  line-height: calc(2.5rem + 1vh);
}

#news #red-man {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 2rem;
}

#news #red-man img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
  width: 100%;
  max-width: 80vw;
}

#title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  background: black;
}

#title .image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60vh;
}

#title .image img {
  max-height: 50vh;
}

#title .box {
  background: #131313;
  min-height: 10vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
  overflow-x: hidden;
  display: none;
}

#tour {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 5rem;
  background: black;
  background-image: url("../img/spectrum.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tour ul {
  list-style: none;
  padding-top: 5rem;
}

#tour a {
  font-size: calc(2rem + 0.5vw);
  color: white;
}

#tour li {
  padding: 2rem;
  background: black;
  margin: 2rem 0;
}

#tour h1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#contact {
  padding-top: 2rem;
  background: black;
  min-height: 90vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  width: 80vw;
}

#contact form input,
#contact form textarea {
  margin: 2rem 0;
  width: 100%;
}

#contact form input:focus,
#contact form textarea:focus {
  outline: 3px solid #53dbc9;
}

#contact form label {
  color: white;
}

#contact form input,
#contact form label,
#contact form textarea {
  font-size: calc(1.5rem + 0.5vw);
  border: none;
}

#contact form input,
#contact form textarea {
  padding: 1rem;
  border-radius: 5px;
}

#contact form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#contact textarea {
  font-size: 4rem;
}

#contact button {
  background: none;
  outline: none;
  border: 2px solid white;
  padding: 2rem 5rem;
  font-size: 2rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

#contact button::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact button:hover::after {
  width: 100%;
}

#contact button:focus::after {
  width: 100%;
}

#contact button:hover {
  cursor: pointer;
}

footer {
  color: white;
  min-height: 10vh;
  background: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(1.5rem + 0.5vw);
}

#load-fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
}

@media screen and (min-width: 700px) {
  #contact form {
    width: 650px;
  }
  #title {
    background: none;
  }
  #title .image img {
    max-height: 70vh;
  }
  video {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */
